Repository quic/efficient-transformers, changes with the owners that .github/CODEOWNERS names for each.
All owners: @anujgupt-github, @vbaddi, @ochougul, @irajagop, @quic-akuruvil, @quic-amitraj, @quic-mamta, @abukhoy, @carlstreeter-quic

Updated documentation
  QEfficient/cloud/execute.py
  QEfficient/cloud/infer.py
  QEfficient/exporter/export_hf_to_cloud_ai_100.py
  QEfficient/exporter/export_utils.py
  QEfficient/utils/device_utils.py
  QEfficient/utils/generate_inputs.py
  QEfficient/utils/run_utils.py
Owners: @anujgupt-github, @vbaddi, @ochougul, @quic-mamta

Updated documentation
  QEfficient/cloud/compile.py
Owners: @anujgupt-github, @vbaddi, @ochougul

Add support for new MOE model mistralai/Mixtral-8x7B-v0.1 (#8)
  QEfficient/transformers/modeling_utils.py
  tests/transformer/models/mixtral_moe/test_modeling_mixtral.py
  tests/utils.py
Owners: @irajagop, @quic-akuruvil, @abukhoy

Rebase
  QEfficient/cloud/execute.py
  QEfficient/cloud/export.py
  QEfficient/cloud/infer.py
  QEfficient/exporter/export_hf_to_cloud_ai_100.py
  QEfficient/exporter/export_utils.py
  QEfficient/generation/cloud_infer.py
  QEfficient/generation/text_generation_inference.py
  QEfficient/utils/device_utils.py
  QEfficient/utils/generate_inputs.py
  QEfficient/utils/run_utils.py
Owners: @anujgupt-github, @vbaddi, @ochougul, @quic-mamta

Update infer and execute API to take prompts from txt file for BS>=1 (#11)
  QEfficient/cloud/execute.py
  QEfficient/generation/text_generation_inference.py
  notebooks/QEfficientGPT2.ipynb
  notebooks/QEfficientMPT.ipynb
Owners: @anujgupt-github, @vbaddi, @ochougul, @quic-mamta

Updated documentation
  QEfficient/cloud/compile.py
  QEfficient/cloud/execute.py
  QEfficient/cloud/export.py
  QEfficient/cloud/infer.py
  QEfficient/exporter/export_hf_to_cloud_ai_100.py
  QEfficient/exporter/export_utils.py
  QEfficient/generation/cloud_infer.py
  QEfficient/generation/text_generation_inference.py
  QEfficient/utils/device_utils.py
  QEfficient/utils/generate_inputs.py
  QEfficient/utils/run_utils.py
Owners: @anujgupt-github, @vbaddi, @ochougul, @quic-mamta

Adding QEFFAutoModel i.e. model loader for loading any type of model. (#31)
  QEfficient/cloud/compile.py
  QEfficient/transformers/modeling_utils.py
  notebooks/QEfficientGPT2.ipynb
  notebooks/QEfficientMPT.ipynb
Owners: @anujgupt-github, @vbaddi, @ochougul, @irajagop, @quic-akuruvil

Fixed some bugs
  docs/index.md
  docs/source/blogs.md
  docs/source/other_api.md
Owners: @quic-amitraj

Fixed bug
  QEfficient/exporter/export_hf_to_cloud_ai_100.py
  docs/ requirements.txt
  docs/source/other_api.md
Owners: @anujgupt-github, @vbaddi, @ochougul, @quic-amitraj

Fixed bug
  QEfficient/cloud/export.py
  QEfficient/cloud/infer.py
  QEfficient/exporter/export_hf_to_cloud_ai_100.py
  QEfficient/exporter/export_utils.py
  QEfficient/generation/cloud_infer.py
  QEfficient/generation/text_generation_inference.py
  QEfficient/utils/run_utils.py
  docs/requirements.txt
Owners: @anujgupt-github, @vbaddi, @ochougul, @quic-mamta, @quic-amitraj

Fixed bug
  QEfficient/cloud/compile.py
  QEfficient/generation/text_generation_inference.py
  README.md
  docs/image/Cloud_AI_100.png
  docs/image/kv_cache_cloudai100.png
  docs/source/low_level_api.md
  docs/source/reference.md
Owners: @anujgupt-github, @vbaddi, @ochougul, @quic-mamta, @quic-amitraj

Rebased
  QEfficient/cloud/export.py
  QEfficient/cloud/infer.py
  QEfficient/exporter/export_hf_to_cloud_ai_100.py
  QEfficient/exporter/export_utils.py
  QEfficient/generation/text_generation_inference.py
  QEfficient/utils/device_utils.py
  QEfficient/utils/generate_inputs.py
  QEfficient/utils/run_utils.py
Owners: @anujgupt-github, @vbaddi, @ochougul, @quic-mamta

Fixed bug
  docs/source/Validate.md
Owners: @quic-amitraj

Added sphinx files in docs
  QEfficient/cloud/execute.py
  QEfficient/cloud/export.py
  QEfficient/cloud/infer.py
  QEfficient/exporter/export_hf_to_cloud_ai_100.py
  QEfficient/generation/cloud_infer.py
  QEfficient/generation/text_generation_inference.py
Owners: @anujgupt-github, @vbaddi, @ochougul, @quic-mamta

Rebased
  QEfficient/cloud/export.py
Owners: @anujgupt-github, @vbaddi, @ochougul

Updated README.md
  README.md
Owners: @anujgupt-github, @vbaddi, @ochougul

Fixed bug
  QEfficient/exporter/export_hf_to_cloud_ai_100.py
Owners: @anujgupt-github, @vbaddi, @ochougul

Updated README.md
  README.md
Owners: @anujgupt-github, @vbaddi, @ochougul

Updated files
  .github/quic-organization-repolinter.yml
  QEfficient/cloud/infer.py
  QEfficient/exporter/export_hf_to_cloud_ai_100.py
  QEfficient/generation/text_generation_inference.py
  QEfficient/transformers/modeling_utils.py
  QEfficient/utils/generate_inputs.py
  QEfficient/utils/run_utils.py
Owners: @anujgupt-github, @vbaddi, @ochougul, @quic-mamta, @irajagop, @quic-akuruvil

Code clean up
  QEfficient/cloud/execute.py
  QEfficient/cloud/export.py
  QEfficient/cloud/infer.py
  QEfficient/compile/compile_helper.py
  QEfficient/exporter/export_hf_to_cloud_ai_100.py
  QEfficient/generation/text_generation_inference.py
  QEfficient/src/_transformers/__init__.py
  QEfficient/utils/generate_inputs.py
  QEfficient/utils/run_utils.py
  README.md
  notebooks/QEfficientGPT2.ipynb
  notebooks/QEfficientMPT.ipynb
  tests/utils.py
Owners: @anujgupt-github, @vbaddi, @ochougul, @quic-mamta, @abukhoy

fixed bugs
  .github/quic-organization-repolinter.yml
  QEfficient/cloud/compile.py
  QEfficient/exporter/export_hf_to_cloud_ai_100.py
  QEfficient/exporter/export_utils.py
  QEfficient/generation/cloud_infer.py
  QEfficient/generation/text_generation_inference.py
Owners: @anujgupt-github, @vbaddi, @ochougul, @quic-mamta

Fixed Docstrings of new APIs
  .github/quic-organization-repolinter.yml
  QEfficient/generation/cloud_infer.py
  QEfficient/generation/text_generation_inference.py
  QEfficient/utils/generate_inputs.py
  tests/transformer/models/mixtral_moe/test_modeling_mixtral.py
Owners: @anujgupt-github, @vbaddi, @ochougul, @quic-mamta, @abukhoy

Revert workaround for compiler bug
  QEfficient/transformers/cache_utils.py
Owners: @irajagop, @quic-akuruvil

Rebuild sphinx-doc
  QEfficient/compile/compile_helper.py
  QEfficient/src/_transformers/auto.py
  docs/source/Linux_installation.md
  docs/source/Validate.md
  docs/source/high_level_api.md
  docs/source/low_level_api.md
  docs/source/quick_start.md
Owners: @anujgupt-github, @vbaddi, @ochougul, @quic-amitraj

Rebuild
  README.html
  _modules/QEfficient.html
  _modules/QEfficient/cloud/execute.html
  _modules/QEfficient/cloud/infer.html
  _modules/QEfficient/compile/compile_helper.html
  _modules/QEfficient/exporter/export_hf_to_cloud_ai_100.html
  _modules/QEfficient/generation/text_generation_inference.html
  _modules/QEfficient/src/_transformers/auto.html
  _modules/QEfficient/transformers/modeling_attn_mask_utils.html
  _modules/QEfficient/transformers/modeling_outputs.html
  _modules/QEfficient/transformers/modeling_utils.html
  _modules/QEfficient/utils/device_utils.html
  _modules/QEfficient/utils/generate_inputs.html
  _modules/QEfficient/utils/run_utils.html
  _modules/index.html
  _sources/source/Linux_installation.md.txt
  _sources/source/Validate.md.txt
  _sources/source/high_level_api.md.txt
  _sources/source/low_level_api.md.txt
  _sources/source/other_api.md.txt
  _sources/source/quick_start.md.txt
  genindex.html
  index.html
  objects.inv
  py-modindex.html
  searchindex.js
  source/Linux_installation.html
  source/Validate.html
  source/high_level_api.html
  source/low_level_api.html
  source/other_api.html
  source/quick_start.html
Owners: @anujgupt-github, @vbaddi, @ochougul

Updated Readme
  README.md
Owners: @anujgupt-github, @vbaddi, @ochougul

Fixed bugs
  QEfficient/cloud/execute.py
  QEfficient/cloud/infer.py
  QEfficient/exporter/export_utils.py
  QEfficient/generation/text_generation_inference.py
  QEfficient/utils/generate_inputs.py
  QEfficient/utils/run_utils.py
Owners: @anujgupt-github, @vbaddi, @ochougul, @quic-mamta

.github/CODEOWNERS:

# -----------------------------------------------------------------------------
#
# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause
#
# -----------------------------------------------------------------------------

# Default owners
# review when someone opens a pull request.
* @anujgupt-github @vbaddi @ochougul
/QEfficient/transformers @irajagop @quic-akuruvil
/docs @quic-amitraj
/examples @quic-mamta
/tests @abukhoy
/QEfficient/customop @irajagop
/QEfficient/generation @quic-mamta
/QEfficient/utils @quic-mamta
pyproject.toml @carlstreeter-quic
