Repository quic/efficient-transformers, pull requests merged in 2025-02, with the labels that each got.

#258 Mllama single qpc support added
  QEfficient/__init__.py
  QEfficient/base/modeling_qeff.py
  QEfficient/transformers/modeling_utils.py
  QEfficient/transformers/models/mllama/modeling_mllama.py
  QEfficient/transformers/models/modeling_auto.py
  QEfficient/transformers/models/pytorch_transforms.py
  QEfficient/utils/constants.py
Labels: model-enablement

#248 Enabling FP8 models for `Cloud AI 100`
  QEfficient/__init__.py
  QEfficient/transformers/models/modeling_auto.py
  QEfficient/transformers/quantizers/auto.py
  QEfficient/transformers/quantizers/quant_transforms.py
  QEfficient/transformers/quantizers/quantizer_compressed_tensors.py
  README.md
  tests/transformers/models/test_causal_lm_models.py
Labels: enhancement, quantization, vllm

#242 Add prompt_to_lora_id_mapping adjustment in fix_prompts()
  QEfficient/generation/text_generation_inference.py
Labels: in-review

#239 Add support for model ibm-granite/granite-3.1-8b-instruct
  QEfficient/transformers/models/granite/__init__.py
  QEfficient/transformers/models/granite/modeling_granite.py
  QEfficient/transformers/models/pytorch_transforms.py
  README.md
  docs/source/validate.md
  tests/transformers/models/test_causal_lm_models.py
  tests/transformers/test_causal_lm.py
Labels: enhancement, model-enablement

#271 Onboarding Whisper with Single QPC
  QEfficient/__init__.py
  QEfficient/base/__init__.py
  QEfficient/base/modeling_qeff.py
  QEfficient/transformers/modeling_utils.py
  QEfficient/transformers/models/modeling_auto.py
  QEfficient/transformers/models/pytorch_transforms.py
  QEfficient/transformers/models/whisper/__init__.py
  QEfficient/transformers/models/whisper/modeling_whisper.py
  QEfficient/utils/_utils.py
  examples/speech_to_text/README.md
  examples/speech_to_text/run_whisper_speech_to_text.py
  scripts/Jenkinsfile
  tests/transformers/models/test_speech_seq2seq_models.py
  tests/transformers/test_speech_seq2seq.py
Labels: model-enablement

#276 upgrading from yanked version
  pyproject.toml
Labels: bugfix
